@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-image {
  // background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
